
/*General styling*/
@import url('https://fonts.googleapis.com/css?family=Heebo|Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500i,800,800i,900&display=swap');
body, html
{
    margin:0;
    padding:0;
    /* Don't forget to change this property */
    background-color: none;
}
*{margin:0;padding:0;}
body
{
    font-size: 100%;
}

/* Constructing the main grid */
.main-container{
  
    display: grid;
    /* Don't forget to change the px value */
    grid-template-rows: auto auto auto;
    grid-template-columns: 10vw auto 10vw;
    grid-template-areas: 
      "header header header"
      "page-content page-content page-content"
      "footer  footer  footer"
    ;

}
footer
{
    grid-area: footer;
    background-color:#D8C0A8;
    
}
#page-content
{
    grid-area: page-content;
    background-color: none;
    width:100%;
    overflow: hidden;
    position: relative;
}
/* Styling the Header */
header
{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 2;


}
#logo
{
    width: 60px;
    height: auto;
    margin: 10px;

}
#logo-container
{
    display: inline-block;
    text-decoration: none;
}
/* Styling the navigation-bar */
nav
{
    /* creates a space with zero width */
    font-size: 0;
    display: inline-block;
    background-color: white;
    position: sticky;

}
.nav-line a
{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    
}
.nav-line > li
{
    display:inline-block;
    list-style-type: none;
    background-color: white;
    /* same as the one below */
    padding: 1.4rem;
    
}
.nav-line li ul
{
    display: none;
    list-style-type: none;
    position: absolute;
    visibility: 0;
    cursor: pointer;
    background-color: white;
    margin-top: 1.4rem;
    margin-left: -1.4rem;
}
.nav-line > li:hover, .dropdown > li:hover
{
    background-color: 	gainsboro;

}
.nav-line li:hover ul,
 .nav-line li ul:hover
{
    
    display: block;
    visibility: visible;
    
}
ul.nav-line ul li
{
    background-color: white;
    padding: 0.7rem;
}
/* Book Now Button */
.button{
    background-color: white;
    border: 2px solid 	indigo;
    color: black;
    text-align: center;
    padding: 0.7rem;
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    width: 80px;
    height: 16px;
    font-size: 0.89rem;
    font-family: 'Playfair Display', serif;
}
/* Styling the info section */
#title-container
{
    margin-left:10vw;
    margin-bottom:40px;
    padding-top: 10vh;
}

.image-container
{
    width:100%;
    height: 30%;
    overflow:hidden;
    background-color: black;
    background-image: url("https://www.sixsenses.com/media/3978/yao-noi-thailand-the_view_aerial_8150-original.jpg?anchor=center&mode=crop&width=1337&height=836&rnd=132266540770000000");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-container{

    margin-top:50px;
    display: grid;
    grid-template-rows: 40px repeat(8, 7vh) 40px;
    grid-template-columns: 10vw repeat(7,1fr) 10vw;
}
.text-container h2
{
     grid-row: 1/2;
     grid-column: 2/6;
}
article:nth-child(2)
{
    grid-column: 2/7;
    grid-row: 4/6;
   text-align: justify;
}
article:nth-child(3)
{
    grid-column: 2/7;
    grid-row: 7/9;
    text-align: justify;
}
aside
{
    grid-column: 8/9;
    grid-row:2/4;
}
/* Styling Check Avaibility Button */
#button-container
{
    grid-column: 4/7;
    grid-row: -2/-1;
   

}
#button-container button {
    border: 5px solid transparent;
    background: #AED6D1;
    color: #55706D;
    border-radius: 40px;
    padding: 15px 30px;
    width: 200px;
    transition: all 1.2s;
    text-indent: 18px;
    white-space: nowrap;
   
   
  
  }
  #button-container span
  {
      vertical-align: baseline;
      display: inline-block;
      opacity:0;
      transform: translateX(300px);
      transition: opacity 0.1s 0.5s,
                  transform 0.4s 0.5s;
  }
  #button-container button:hover{
  
     width: 300px;
     background-color: palegreen;
     text-indent: 0;
  
  }
  #button-container button:hover span
  {
      opacity:1;
      transform: translateX(0);
  }
/* Styling the list section */
.list-container
{
    display: grid;
    grid-template-rows: 40px repeat(8, 7vh) 40px;
    grid-template-columns: 10vw repeat(7,1fr) 10vw;
    margin-top:50px;
}
.list-container ol:nth-child(2)
{
    grid-column: 2/5;
    grid-row: 3/-2;
}
h3:nth-child(1)
{
    grid-column:2/5;
    grid-row: 2/3;
}
.list-container ol:nth-child(4)
{
    grid-column: 6/-2;
    grid-row: 3/-2;
}
h3:nth-child(3)
{
    grid-column:6/-2;
    grid-row: 2/3;
}
/* Styling the table */
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100vh;
 
  }
  
  th, td {
    padding: 15px;

  }

.white-space
{
    visibility: hidden;

}
#page-content > h2
{
    margin-left: 10vw;
    margin-bottom: 5vh;
}
#page-content p, #page-content li, #page-content a, th, td
{
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    color: #484848;
}
h3, h2, h1
{
    font-family: 'Playfair Display', serif;
   
}
#page-content h1
{
    font-weight: 500;
    font-size: 50px;
}
#page-content a
{
    text-decoration:none;
    color: 	#484848;
}
#page-content a:hover
{
    text-decoration:underline	#484848;
}
/* Styling the footer */
.footer-text-container
{
    display:grid;
    grid-template-columns:  20vw repeat(7,1fr) 20vw;
    grid-template-rows: repeat(5,10vh) 10vh;
    justify-content: center;

}
.footer-text-container h4
{
    grid-column: 5/-1;
    grid-row: 2/3;
    font-family: 'Heebo', sans-serif;
  
}
.footer-text-container p
{
    grid-column: 5/-1;
    grid-row: 3/-2;
    font-family: 'Heebo', sans-serif;
    text-align: justify;
}
.footer-text-container h4:nth-child(4)
{
    grid-column: 8/-1;
    grid-row: 2/3;
    font-family: 'Heebo', sans-serif;
  
}
footer ul
{

    grid-row:3/-2;
    grid-column:8/-1;
    list-style-type: none;
}
#footer-logo
{
    grid-row:3/-2;
    grid-column: 2/6;
}
#footer-logo img
{
    height:120px;
    width: auto;
    
}
footer li
{
    float:left;
    padding:0 2px;
}
footer img[src*="social"]
{
    width:30px;
    height: auto;
}
/* Creates a dark theme for smaller devices */
@media (max-width: 800px) {
    html { background:black }
    #page-content h1, #page-content p, #page-content a,
    #page-content h2, #page-content h3, #page-content h4
    {
        color:white;
    }
  }